@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<div id="container" style="display:none;">
    <input type="hidden" id="nickname" />
    <div id="chatlog"></div>
    <div id="onlineusers">
        <b>Online Users</b>
    </div>
    <div id="chatarea">
        <div class="messagelog">
            <textarea spellcheck="true" id="message" class="messagebox"></textarea>
        </div>
        <div class="actionpane">
            <input type="button" id="btnsend" value="Send" />
        </div>
        <div class="actionpane">
            <select id="users">
                <option value="All">All</option>
            </select>
        </div>
    </div>
    @*<div id="dialog" title="Enter your name to start a chat.">
            <input type="text" id="nick" />
        </div>*@
</div>

<div id="dialog" title="Enter your name to start a chat.">
    <input type="text" id="nick" />
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("~/signalr/hubs")

    <script type="text/javascript">


        $(function () {
            showModalUserNickName();
        });

        function toggle() {
            $("#container").attr("style","display:block;");
        }

        function showModalUserNickName() {
            $("#dialog").dialog({
                modal: false,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");

                        if (($('#nick').val() == "") || ($('#nick').val() == null)) {
                            showModalUserNickName();
                            return false;
                        }
                        toggle();
                        startChatHub();
                    }
                }
            });
        }

        function startChatHub() {
            var chat = $.connection.chatHub;

            // Get the user name.
            $('#nickname').val($('#nick').val());
            chat.client.differentName = function (name) {

                showModalUserNickName();
                return false;

                // Prompts for different user name
                $('#nickname').val($('#nick').val());
                chat.server.notify($('#nickname').val(), $.connection.hub.id);
            };

            chat.client.online = function (name) {
                // Update list of users
                if (name == $('#nickname').val())
                    $('#onlineusers').append('<div class="border" style="color:green">You: ' + name + '</div>');
                else {
                    $('#onlineusers').append('<div class="border">' + name + '</div>');
                    $("#users").append('<option value="' + name + '">' + name + '</option>');
                }
            };

            chat.client.enters = function (name) {
                $('#chatlog').append('<div ><i>' + name + ' joins the conversation</i></div>');
                $("#users").append('<option value="' + name + '">' + name + '</option>');
                $('#onlineusers').append('<div class="border">' + name + '</div>');
            };
            // Create a function that the hub can call to broadcast chat messages.
            chat.client.broadcastMessage = function (name, message) {
                //Interpret smileys
                message = message.replace(":)", "<img src=\"/images/happy.gif\" class=\"smileys\" />");
                message = message.replace(":(", "<img src=\"/images/sad.gif\" class=\"smileys\" />");
                message = message.replace(":o", "<img src=\"/images/cool.gif\" class=\"smileys\" />");
                message = message.replace(":z", "<img src=\"/images/sleep.gif\" class=\"smileys\" />");
                message = message.replace(";)", "<img src=\"/images/winkey.gif\" class=\"smileys\" />");

                //display the message
                $('#chatlog').append('<div class="border"><span style="color:orange">' + name + '</span>: ' + message + '</div>');
            };

            chat.client.disconnected = function (name) {
                //Calls when someone leaves the page
                $('#chatlog').append('<div ><i>' + name + ' leaves the conversation</i></div>');
                // $('#onlineusers div').remove(":contains('" + name + "')");
                // $("#users option").remove(":contains('" + name + "')");
                
                $('#onlineusers div').remove(":contains('" + name + "')");
                $("#users").find('option[value="' + name + '"]').remove();
            }

            // Start the connection.
            $.connection.hub.start().done(function () {

                //Calls the notify method of the server
                chat.server.notify($('#nickname').val(), $.connection.hub.id);

                $('#btnsend').click(function () {
                    if ($("#users").val() == "All") {
                        // Call the Send method on the hub.
                        chat.server.send($('#nickname').val(), $('#message').val());
                    }
                    else {
                        chat.server.sendToSpecific($('#nickname').val(), $('#message').val(), $("#users").val());
                    }
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

            });
        }

    </script>
}